@page "/game/{RoomId?}"
@inject RoomService RoomService
@inject NavigationManager Nav
@rendermode InteractiveServer

@using Excubo.Blazor.Canvas
@using Excubo.Blazor.Canvas.Contexts
@using GeograficWars.Game
@using Microsoft.JSInterop

@inject IJSRuntime JS

<PageTitle>Game</PageTitle>

@if (choosingPlayerName)
{
   <div id="EnterRoomScreen">
       <div id="Logo">
           <img src="full_logo.png" />
       </div>
       <label class="fs-4">Escolha seu nome</label>
       <input class="form-control" @bind-value=PlayerName/>
       <br />
       <div class="mt-3">
           <button @onclick="ConfirmPlayerName" class="btn btn-dark btn-outline-primary">
               Confirmar
            </button>
       </div>
   </div>

   <style>
        body {
            background-color: dodgerblue;
        }

        #EnterRoomScreen {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        #EnterRoomScreen label {
            margin-bottom: 2vh;
        }

        #EnterRoomScreen input {
            width: 25%;
        }
    </style>
}
else if (inLobby)
{
    <div id="LobbyScreen">
        <div id="Logo">
            <img src="full_logo.png" />
        </div>
        <div class="d-flex justify-content-center align-items-center" style="height: 80vh">
            <div class="card bg-dark text-white border-primary rounded p-5 shadow" style="width: 35rem;">
                <div id="LobbyBody" class="card-body">
                    <h2 class="card-title">Lobby</h2>
                    <p class="card-text">
                        <div class="row border-primary rounded">
                            <div class="col bg-dark d-flex flex-column justify-content-center align-items-center">
                                <h3>Jogadores</h3>
                                @if (PlayersName != null) {
                                    @foreach (string playerName in PlayersName)
                                    {
                                        <br><h4>@playerName</h4>
                                    }
                                }
                            </div>
                        </div>
                        @if (isAdmin == true)
                        {
                            <div class="mt-3">
                                <button @onclick="InitGame" class="btn btn-dark btn-outline-primary">
                                    Iniciar Jogo
                                </button>
                            </div>
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>

   <style>
        body {
            background-color: dodgerblue;
        }

        #LobbyScreen, #LobbyBody {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>
}
else if (!choosingPlayerName && inGame)
{
    <Canvas @ref="canvas" width="@canvasWidth" height="@canvasHeight" style="display:block; margin:0; padding:0; border:0;" />
}

@code {

    [Parameter]
    public string? RoomId { get; set; }

    private Canvas? canvas;
    private Game? game;
    private Room? room;
    private WindowSize windowSize;
    private bool choosingPlayerName = true;
    private bool inLobby = true;
    private bool inGame = false;
    private string? PlayerName{ get; set; }
    private List<string>? PlayersName{ get; set; }

    private int canvasWidth;
    private int canvasHeight;

    private bool running = true;

    private bool isAdmin = false;

    private string? PlayerId { get; set; }

    protected override void OnInitialized()
    {
        game = new Game();

        if (RoomId == null)
        {
            RoomId = Guid.NewGuid().ToString();

            Nav.NavigateTo($"/game/{RoomId}");
        }

        room = RoomService.GetRoom(RoomId);

        if (RoomService.GetRoom(RoomId) == null)
        {
            room = RoomService.CreateRoom(RoomId, "room");
        }

        UpdateGameState();

        room.GetCountriesManager().LoadCountries();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await UpdateWindowSize();

            _ = GameLoop();

            return;
        }

        if (!choosingPlayerName && canvas != null && game != null)
        {

            await game!.InitializeAsync(canvas!, new WindowSize {
                Width = canvasWidth, 
                Height = canvasHeight
            });
        }
    }

    private async Task UpdateWindowSize()
    {
        var windowSize = await JS.InvokeAsync<WindowSize>("gameInterop.getWindowSize");

        canvasWidth = windowSize.Width;
        canvasHeight = windowSize.Height;

        await InvokeAsync(StateHasChanged);
    }

    private async Task GameLoop()
    {
        while (running)
        {
            PlayersName = room?.GetPlayersName();
            UpdateGameState();
            await UpdateWindowSize();
            await game!.Update(new WindowSize {
                Width = canvasWidth,
                Height = canvasHeight
            });
            await game!.Render(room);
            await InvokeAsync(StateHasChanged);
            await Task.Delay(16);
        }
    }

    private void UpdateGameState()
    {

        inLobby = room.State == RoomState.Lobby;
        inGame = room.State == RoomState.InGame;
    }

    private void ConfirmPlayerName()
    {
        choosingPlayerName = false;
        PlayerId = RoomService.JoinRoom(room?.RoomId, PlayerName);

        isAdmin = PlayerId == room.AdminID;

        StateHasChanged();
    }

    private void InitGame()
    {
        room.StartGame(PlayerId);
    }

}
