@page "/game/{RoomId?}"
@inject RoomService RoomService
@inject NavigationManager Nav
@rendermode InteractiveServer

@using Excubo.Blazor.Canvas
@using Excubo.Blazor.Canvas.Contexts
@using GeograficWars.Game
@using Microsoft.JSInterop

@inject IJSRuntime JS

<PageTitle>Game</PageTitle>

@if (!choosingPlayerName)
{
    <Canvas @ref="canvas" width="@canvasWidth" height="@canvasHeight" style="display:block; margin:0; padding:0; border:0;" />
}
else
{
   <div>
       <label class="text-muted">Escolha seu nome</label>
       <input class="form-control" @bind-value=PlayerName/>
       <br />
       <div class="mt-3">
           <button @onclick="ConfirmPlayerName" class="btn btn-outline-primary">
               Confirmar
            </button>
       </div>
   </div>
}

@code {

    [Parameter]
    public string? RoomId { get; set; }

    private List<Country>? countries;
    private Canvas? canvas;
    private Game? game;
    private Room? room;
    private CountriesManager? countriesManager;
    private WindowSize windowSize;
    private bool choosingPlayerName = true;
    private string? PlayerName{ get; set; }

    private int canvasWidth;
    private int canvasHeight;

    private bool running = true;

    protected override void OnInitialized()
    {
        game = new Game();

        if (RoomId == null)
        {
            RoomId = Guid.NewGuid().ToString();

            Nav.NavigateTo($"/game/{RoomId}");
        }

        room = RoomService.GetRoom(RoomId);

        if (RoomService.GetRoom(RoomId) == null)
        {
            room = RoomService.CreateRoom(RoomId, "room");
        }

        countriesManager = room.GetCountriesManager();

        countriesManager.LoadCountries();

        countries = countriesManager.GetCountries();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await UpdateWindowSize();

            return;
        }

        if (!choosingPlayerName && canvas != null && game != null)
        {

            await game!.InitializeAsync(canvas!, new WindowSize {
                Width = canvasWidth, 
                Height = canvasHeight
            });

            _ = GameLoop();
        }
    }

    private async Task UpdateWindowSize()
    {
        var windowSize = await JS.InvokeAsync<WindowSize>("gameInterop.getWindowSize");

        canvasWidth = windowSize.Width;
        canvasHeight = windowSize.Height;

        await InvokeAsync(StateHasChanged);
    }

    private async Task GameLoop()
    {
        while (running)
        {
            await UpdateWindowSize();
            await game!.Update(new WindowSize {
                Width = canvasWidth,
                Height = canvasHeight
            });
            await game!.Render(countries);
            await InvokeAsync(StateHasChanged);
            await Task.Delay(16);
        }
    }

    private void ConfirmPlayerName()
    {
        choosingPlayerName = false;
        StateHasChanged();
    }

}
